h1 {
  text-align: center;
  text-decoration: underline;
  text-decoration: italic;
}

.row {
  display: grid;
  gap: 5px;
  grid-template-columns: auto auto auto auto;
  width: 300px;
  height: 300px;
}
.button {
  background-color: #505151;
  color: white;
  border-radius: 6px;
  border: 1px solid black;
  font-size: 20px;
}
.screen-calc {
  padding: 40px;
  background-color: #22272c;
  width: 220px;
  height: 200px;
}
.button:hover {
  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.24),
    0 19px 52px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  color: black;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-size: 25px;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(147, 221, 244, 1) 24%,
    rgba(253, 187, 45, 1) 100%
  );
  height: 100vh;
  background-size: cover;
}
.upper-button {
  padding: 16px;
  background: black;
  width: 268px;
}
.calc {
  background: #000000;
  width: 300px;
  border-radius: 20px;
  margin: auto;
  margin-top: 250px;
  padding: 13px;
}
.calc:hover {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 5px 6px rgb(28, 28, 28), 8px 8px 6px rgb(50, 50, 50),
    10px 10px 6px rgb(73, 76, 73);
  transition: 0.5s ease-in-out;
}
.ac {
  background-color: #a40101;
  color: white;
  border-radius: 6px;
  border: 1px solid black;
}
.ac:hover {
  background-color: #ff0000ec;
  transition: 0.3s ease-in-out;
}
#ans {
  background-color: rgba(1, 109, 1, 0.932);
}
#ans:hover {
  background-color: rgb(0, 183, 0);
  transition: 0.3s ease-in-out;
}
input {
  padding-bottom: 185px;
  font-size: 40px;
  width: 215px;
  color: white;
  background-color: #22272c;
  border: 0px solid;
}
